$base-color: #f9bf4b;
$base-color-light: #f9bf4b88;
$sub-color: #657786;
$placeholder-color-1: #65778688;
$shadow-color: #00000044;
$post-max-width: 800px;
$reach-color:#ff5c5c;
$achievement-color:#9e9e9e;