@import "./style/variable";
.post-Container{
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 15px $shadow-color;
  }  

  &_Title {
    height: 3em;
    padding: 0 10px;
    background-color: $base-color;
    border-radius: 10px 10px 0 0;
    h1 {
      height: 100%;
      color: white;
      line-height: 3em;
    }
  }

  &_Detail {
    margin: 0 20px;
    padding: 30px;
    border-bottom: 1px solid $placeholder-color-1;

    p {
      font-size: 13px;
    }
  }

  &_Limit {
    padding: 10px 20px;
    p,
    span {
      font-size: 13px;
      color: $sub-color;
    }
  }

  &_Last{
    position: relative;
    padding: 5px 20px;
    font-weight: bold;
    width: 120px;
    background-color: $reach-color;

    p{
      color: white;
    }

    &::after{
      content: '';
      position: absolute;
      top: 4.5px;
      left: 108px;
      height: 23.334px;
      width: 23.334px;
      background-color: white;
      transform: rotate(45deg);
    }
  }

  &_Tasks {
    padding: 30px;
  }

  &_Task {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;

    .not-checked {
      &::before {
        position: absolute;
        top: calc(50% - 8px);
        left: 0;
        height: 12px;
        width: 12px;
        border: 1px solid $base-color;
        background-color: white;
        content: "";
      }
    }

    .checked {
      &::before {
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $base-color;
        position: absolute;
        top: calc(50% - 8px);
        left: 0;
        height: 12px;
        width: 12px;
        background-color: white;
      }
    }
  }

  &_ItemBottom {
    display: flex;
    align-items: center;
    margin: 0 30px;
    p {
      font-size: 10px;
      color: $sub-color;
    }
  }

  &_Favorite {
    padding: 10px 0;

    p{
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  &_ItemBottomRight{
    display: flex;
    flex: 1;
    padding: 10px 0 10px 20px;
  }

  &_Comment {
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
    }
    span{
      font-size: 10px;
      color: $sub-color;
    }
  }

  &_Date {
    margin-left: auto;
  }

  .favorite{
    color: $base-color;
  }
}

.is-reach{
  .post-Container_Title{
    background-color: $reach-color;
  }
  .post-Container_Task{
    .not-checked {
      &::before {
        border: 1px solid $reach-color;
      }
    }
    .checked {
      &::before {
        color: $reach-color;
      }
    }
  }
  .is-currentuser{
    &:hover{
      border: 1px solid $reach-color;
    }
  }
  .favorite{
    color: $reach-color;
  }
}

.is-achievement{
  .post-Container_Title{
    background-color: $achievement-color;
  }
  .post-Container_Task{
    .not-checked {
      &::before {
        border: 1px solid $achievement-color;
      }
    }
    .checked {
      &::before {
        color: $achievement-color;
      }
    }
  }
  .is-currentuser{
    &:hover{
      border: 1px solid $achievement-color;
    }
  }
  .favorite{
    color: $achievement-color;
  }
}